.categories {

    h2{
        color: $color-dark;
        font-size: $section-title-size;
        background-color: $color-medium;
    } 
    h3 {
        color: white;
        z-index: 100;
    }
    .categories-content{

        display: grid;
        grid-template-columns: repeat(4, 1fr);    
        height: 50vh;
    }
    .category {
        background-repeat: none;
        background-position: center;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0,0,0,0.8);
        
        
    }
    .bath {
        background-image:url("https://ucb55e1dc247bb1840adecbc3367.previews.dropboxusercontent.com/p/thumb/AAg6nwhKoR2ItFY5M2VPMdiQoUZFQ4WjkJN7xEYV34OD_W1X-tjciFEWwvw8maxnpFI4meyjtfTAk-LqceSGgVmiGCretvfneybkKBMK-1JkhCea1PTGyjQZW-W3-Z6w7uoQecrWu3qCAkN_UwWK-0OjdXa_BvPzLKMziVAapzOVDHSbEuph-8XJ_yQ7GplFX_MprNxG7G9YvZlFYA-YM2tMZpePijHgH13WAAaC0yK6n_IQnnrM_rpu7YpvhD8AUWHxkKbLMuWL59QwTBb6ltCBruVlsmNXFMbsd9CRlfme5MNUD99YLOpqPfWyl3HCKwBTOf0wqkrdHV1L6njIJRKg/p.jpeg");
        filter:brightness(0.4);
    }

    .kitchen {
        background-image: url("https://uca260116742fd7f95d73307a95b.previews.dropboxusercontent.com/p/thumb/AAiCw_XCKdHSsU108GLBJDbfU_Vls60eELCXah57WgRSip1gQUBrYZo693_tpQuC-Y6d-Piu_CEuLKl3WjsgeafSSxM1ix9ZhqKFffi_PrG6AFsRljvrP9dtF4CvkhjhF8vCYx2nSZmGV2cJWJBlo-nZB4MR4HGwRcIGy9xS-hHy6sz3E4_SjsaDVgRCWfCc2sxgs5yogDw_9GvjAz3BqYHhuYbhnSm12G_bfjpo2Y4s7UwGTZMH3gs63rVkKZsAeowhRUbUq2mkaWu3q3qgoYo_hQv5bOvv2UIuB2HywuzJLzazWOACRx_h_3vOrrsFUctq2sBSvVOD8-RKzlIoj2YSoPW7itT_YjUExC0v4UebPd7NpeopVmM8pjhA2SxVk9D3L1bfVaP3CjZ4I6xegSxCfe0zjD2-1TVS6HnmayYWSQ/p.jpeg");
        
    }
 
    .bed{
        background-image: url("https://ucb46ad6879f4a008855aa10f1a5.previews.dropboxusercontent.com/p/thumb/AAhiv2c3K0z3I6SL2D9Dhh5GYX4gtFNtdOgTR7chQoRYBhf1mtwcHL6zvrbbs9tK2loqALOfkY89DFGQrx9KZA8hP_zozHmC_XP8HuJHoNjydbcNZvVZ_ZJyc0BrbTTWVymqWnAdIDr3Z24JhA_R_M-4DpIcnNDHm8TpHQ1nuBFKNVN2BYKi9Cef3_QLJ4bYHDidAar-QVTZLx6ez8ElYBWChAVuiTRqlfFdgvrfOH6xL64SdfPPlEHB87P65a1qzIewXFtQX0qG5VKuv2KJG9Rqqkoa8V20G59IX8RAZzyaOS1aoiir0CtDkzciqbD7FAmyKY1DQJX6QT-LqqMuXvOn/p.jpeg");
       
    }

    .living{
        background-image:url("https://uc52b9a5b9f596b7bee651bd1573.previews.dropboxusercontent.com/p/thumb/AAiOnzyvuKG3PBGLyV3TSKdZhi_QQo7on2t63fokxqsQ7lMMecHylvq0EYtEQL1uTVEusbdCZUDkSxMJbxaHU_pvtCml4qJG2HQjmGyVMSxkBI5Fs6wrUnNRQw8ZdJwxbZUMKADTyhbCjHokD_ZhaABZn03ENuAMZ5b_iu787Dwp6pYQnDUIZtuYrPC1fTYFf1B0el0K9U-RBz3CrN7c3CK-cR6TS6W9G0YfcsIu1ENQKjsr34cTYkX84VW1n5Kt5ETniUIsrmUT21kExy3iU1l1G188zdDlK6E0BI2eFEPWFan_XY07Gph6YTiGUOM6KIuAtya9HNykaXx66vXlIPUIQ8SoCcHCq2wSK0D8tvrC8w/p.jpeg");
    }
}