.header {
    background-image: url($img-slider);
    background-position: center;
    
    
    // background: border-box;
    background-size: cover;
    
    background-repeat: none;
    height: 100vh;
}
.slider {
    height: 100vh;
    
    
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        color : $color-dark;
        letter-spacing: .2em;
        font-size: $title-size - 1;
        text-align: center;


    }
}