.header {
    background-image: url($img-slider);
    background-position: center;
    background-repeat: none;
    background-size: cover;
}
.slider {
    height: 80vh;
    
    
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        color : $color-dark;
        letter-spacing: .2em;
        font-size: $title-size;


    }
}