

// COLORS
$color-dark : #4A4A4A;
$color-light : #F3F3F3;
$color-medium: #B1A38F;

// FONTS
$font: 'Open Sans' ;
  
$title-size: 3em;
$section-title-size: 2em;


// IMAGES

$img-slider : '../img/header.jpg';
//$img-provider : '../img/provider.jpg';
$img-logo : 'img/logo.png';


// ABOUT IMAGES

$img-delivery : '../img/delivery.jpg';

// CATEGOTIES IMAGES
$img-bath : '../img/bathroom.jpg';
$img-bed : '../img/bedroom.jpg';
$img-kitchen : '../img/kitchen.jpg';
$img-living : '../img/livingroom.jpg';

// BREACKPOINTS MEDIA

$sm : 450px;
$md : 900px;
$lg : 1200px;
