* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  width: 80%;
}

#content-wrapper {
  width: 100%;
}

body {
  font-family: "Open Sans";
}

.hidden {
  display: none;
}

.logo img {
  width: 120px;
  height: auto;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.nav_collapse_icon {
  font-size: 1.4em;
}

.toggle_button {
  position: fixed;
  right: 0px;
  padding: 1em;
  z-index: 101;
}

@media (min-width: 900px) {
  .toggle_button {
    display: none;
  }
}

#nav-wrapper {
  position: fixed;
  right: 0px;
}

@media (min-width: 900px) {
  #nav-wrapper {
    position: absolute;
  }
}

.nav {
  min-height: 100vh;
  z-index: 100;
  position: absolute;
  top: 0px;
  background-color: white;
  width: 80%;
}

.nav .search_icon {
  width: 1em;
}

.nav ul {
  padding-top: 3em;
}

.nav li {
  padding: 1.8em;
  border-bottom: 1px solid lightgrey;
}

.nav a {
  color: #B1A38F;
}

.nav a:hover {
  color: #4A4A4A;
}

@media (min-width: 900px) {
  .nav {
    background-color: transparent;
    min-height: 0vh;
    position: absolute;
    top: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 0;
    bottom: 0px;
    top: 0px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .nav li {
    border: 0;
  }
}

.header {
  background-image: url("../img/header.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: none;
  height: 100vh;
}

.slider {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider h1 {
  color: #4A4A4A;
  letter-spacing: .2em;
  font-size: 2em;
  text-align: center;
}

.about {
  width: 100%;
  background-color: white;
  padding: 2em;
}

.about h2, .about h3 {
  text-align: center;
  margin-bottom: 1em;
}

@media (min-width: 450px) {
  .about h3 {
    padding-bottom: 1em;
  }
  .about h2 {
    font-size: 2em;
    margin-bottom: 1em;
  }
}

.about .about-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  gap: 1em;
}

@media (min-width: 450px) {
  .about .about-content {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    text-align: left;
  }
}

.about .specialization {
  text-align: center;
}

.about .specialization img {
  width: 40px;
}

.about .specialization .content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

@media (min-width: 450px) {
  .about .specialization .content {
    display: block;
  }
}

.about .about-image {
  background-image: url("../img/image.jpg");
  background-position: center;
  background-repeat: none;
  background-size: cover;
}

.categories h2 {
  color: #4A4A4A;
  font-size: 2em;
  background-color: #F3F3F3;
}

.categories h3 {
  color: white;
  z-index: 100;
}

.categories .categories-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 1em;
  padding: 1em;
  background-color: #F3F3F3;
}

@media (min-width: 600px) {
  .categories .categories-content {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

.categories .category {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  height: 400PX;
}

.categories .category:hover {
  cursor: pointer;
  background-size: 300%;
}

.categories .bath {
  background-image: url("../img/bathroom.jpg");
  -webkit-filter: brightness(0.4);
          filter: brightness(0.4);
}

.categories .kitchen {
  background-image: url("../img/kitchen.jpg");
}

.categories .bed {
  background-image: url("../img/bedroom.jpg");
}

.categories .living {
  background-image: url("../img/livingroom.jpg");
}

.footer {
  background-color: #F3F3F3;
  padding: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #4A4A4A;
}
/*# sourceMappingURL=app.css.map */